definitions:
  app.ChangePasswordSuccessResponseDoc:
    properties:
      message:
        type: string
      response_code:
        type: string
    type: object
  app.CreateMenuItemSuccessResponseDoc:
    properties:
      message:
        type: string
      response_code:
        type: string
    type: object
  app.CreateRestaurantSuccessResponseDoc:
    properties:
      data:
        $ref: '#/definitions/restaurantapp.CreateRestaurantResponse'
      message:
        type: string
      response_code:
        type: string
    type: object
  app.CreateTopicSuccessResponseDoc:
    properties:
      message:
        type: string
      response_code:
        type: string
    type: object
  app.DeleteRestaurantSuccessResponseDoc:
    properties:
      message:
        type: string
      response_code:
        type: string
    type: object
  app.GetProfileSuccessResponseDoc:
    properties:
      data:
        $ref: '#/definitions/authapp.GetProfileResponse'
      message:
        type: string
      response_code:
        type: string
    type: object
  app.GetRestaurantByIDSuccessResponseDoc:
    properties:
      data:
        $ref: '#/definitions/restaurantapp.GetRestaurantByIDResponse'
      message:
        type: string
      response_code:
        type: string
    type: object
  app.LoginSuccessResponseDoc:
    properties:
      data:
        $ref: '#/definitions/authapp.LoginResponse'
      message:
        type: string
      response_code:
        type: string
    type: object
  app.LogoutSuccessResponseDoc:
    properties:
      message:
        type: string
      response_code:
        type: string
    type: object
  app.RefreshTokenSuccessResponseDoc:
    properties:
      data:
        $ref: '#/definitions/authapp.RefreshTokenResponse'
      message:
        type: string
      response_code:
        type: string
    type: object
  app.RegisterSuccessResponseDoc:
    properties:
      data:
        $ref: '#/definitions/authapp.RegisterSuccess'
      message:
        type: string
      response_code:
        type: string
    type: object
  app.UpdateRestaurantSuccessResponseDoc:
    properties:
      message:
        type: string
      response_code:
        type: string
    type: object
  app.UploadLogoSuccessResponseDoc:
    properties:
      data:
        $ref: '#/definitions/uploadapp.UploadLogoResponse'
      message:
        type: string
      response_code:
        type: string
    type: object
  authapp.ChangePasswordRequest:
    properties:
      confirm_password:
        type: string
      new_password:
        type: string
      old_password:
        type: string
    type: object
  authapp.GetProfileResponse:
    properties:
      email:
        type: string
      full_name:
        type: string
      is_active:
        type: boolean
      role:
        type: string
    type: object
  authapp.LoginRequest:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
  authapp.LoginResponse:
    properties:
      access_token:
        type: string
      expires_in:
        type: integer
      refresh_token:
        type: string
    type: object
  authapp.RefreshTokenRequest:
    properties:
      refresh_token:
        type: string
    type: object
  authapp.RefreshTokenResponse:
    properties:
      access_token:
        type: string
      expires_in:
        type: integer
      refresh_token:
        type: string
    type: object
  authapp.RegisterRequest:
    properties:
      email:
        type: string
      full_name:
        type: string
      password:
        type: string
    type: object
  authapp.RegisterSuccess:
    type: object
  domain.MenuItemType:
    enum:
    - dish
    - beverage
    - extra
    - combo
    type: string
    x-enum-varnames:
    - ItemDish
    - ItemDrink
    - ItemExtra
    - ItemCombo
  menuitemapp.CreateMenuItemRequest:
    properties:
      description:
        type: string
      image_url:
        type: string
      name:
        type: string
      price:
        type: integer
      sku:
        type: string
      topic_id:
        type: integer
      type:
        $ref: '#/definitions/domain.MenuItemType'
    type: object
  response.ErrorDoc:
    properties:
      message:
        type: string
      response_code:
        type: string
    type: object
  restaurant.DayOfWeek:
    enum:
    - 0
    - 1
    - 2
    - 3
    - 4
    - 5
    - 6
    type: integer
    x-enum-comments:
      Friday: "5"
      Monday: "1"
      Saturday: "6"
      Sunday: "0"
      Thursday: "4"
      Tuesday: "2"
      Wednesday: "3"
    x-enum-descriptions:
    - "0"
    - "1"
    - "2"
    - "3"
    - "4"
    - "5"
    - "6"
    x-enum-varnames:
    - Sunday
    - Monday
    - Tuesday
    - Wednesday
    - Thursday
    - Friday
    - Saturday
  restaurantapp.CreateRestaurantRequest:
    properties:
      address:
        type: string
      banner_url:
        type: string
      category:
        type: string
      city:
        type: string
      description:
        type: string
      district:
        type: string
      email:
        type: string
      hours:
        items:
          $ref: '#/definitions/restaurantapp.RestaurantHoursBase'
        type: array
      logo_url:
        type: string
      name:
        type: string
      phone_number:
        type: string
      website_url:
        type: string
    type: object
  restaurantapp.CreateRestaurantResponse:
    properties:
      id:
        type: integer
    type: object
  restaurantapp.GetRestaurantByIDResponse:
    properties:
      address:
        type: string
      banner_url:
        type: string
      category:
        type: string
      city:
        type: string
      description:
        type: string
      district:
        type: string
      email:
        type: string
      hours:
        items:
          $ref: '#/definitions/restaurantapp.RestaurantHoursBase'
        type: array
      is_active:
        type: boolean
      logo_url:
        type: string
      name:
        type: string
      phone_number:
        type: string
      user_name:
        type: string
      website_url:
        type: string
    type: object
  restaurantapp.RestaurantHoursBase:
    properties:
      close_time:
        type: string
      day:
        $ref: '#/definitions/restaurant.DayOfWeek'
      open_time:
        type: string
    type: object
  restaurantapp.UpdateRestaurantRequest:
    properties:
      address:
        type: string
      banner_url:
        type: string
      category:
        type: string
      city:
        type: string
      description:
        type: string
      district:
        type: string
      email:
        type: string
      hours:
        items:
          $ref: '#/definitions/restaurantapp.RestaurantHoursBase'
        type: array
      logo_url:
        type: string
      name:
        type: string
      phone_number:
        type: string
      website_url:
        type: string
    type: object
  topicapp.CreateTopicRequest:
    properties:
      name:
        type: string
      parent_id:
        type: integer
      restaurant_id:
        type: integer
      slug:
        type: string
      sort_order:
        type: integer
    type: object
  uploadapp.UploadLogoResponse:
    properties:
      url:
        type: string
    type: object
info:
  contact: {}
paths:
  /api/auth/change-password:
    patch:
      consumes:
      - application/json
      description: Allows the authenticated user to change their password
      parameters:
      - description: Old and new password
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/authapp.ChangePasswordRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Password changed successfully
          schema:
            $ref: '#/definitions/app.ChangePasswordSuccessResponseDoc'
        default:
          description: Errors
          schema:
            $ref: '#/definitions/response.ErrorDoc'
      summary: Change user password
      tags:
      - Auth
  /api/auth/login:
    post:
      consumes:
      - application/json
      description: Authenticate user and return access and refresh tokens
      parameters:
      - description: User login payload
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/authapp.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Login successful
          schema:
            $ref: '#/definitions/app.LoginSuccessResponseDoc'
        default:
          description: Errors
          schema:
            $ref: '#/definitions/response.ErrorDoc'
      summary: User login
      tags:
      - Auth
  /api/auth/logout:
    post:
      consumes:
      - application/json
      description: Invalidates the current user's authentication token
      produces:
      - application/json
      responses:
        "200":
          description: Successfully logged out
          schema:
            $ref: '#/definitions/app.LogoutSuccessResponseDoc'
        default:
          description: Errors
          schema:
            $ref: '#/definitions/response.ErrorDoc'
      summary: Logout user
      tags:
      - Auth
  /api/auth/profile:
    get:
      consumes:
      - application/json
      description: Retrieve the profile information of the authenticated user
      produces:
      - application/json
      responses:
        "200":
          description: Profile retrieved successfully
          schema:
            $ref: '#/definitions/app.GetProfileSuccessResponseDoc'
        default:
          description: Errors
          schema:
            $ref: '#/definitions/response.ErrorDoc'
      summary: Get user profile
      tags:
      - Auth
  /api/auth/refresh-token:
    post:
      consumes:
      - application/json
      description: Generate a new access token using a valid refresh token
      parameters:
      - description: Refresh token payload
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/authapp.RefreshTokenRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Token refreshed successfully
          schema:
            $ref: '#/definitions/app.RefreshTokenSuccessResponseDoc'
        default:
          description: Errors
          schema:
            $ref: '#/definitions/response.ErrorDoc'
      summary: Refresh access token
      tags:
      - Auth
  /api/auth/register:
    post:
      consumes:
      - application/json
      description: Create a new user account with email and full name
      parameters:
      - description: User registration payload
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/authapp.RegisterRequest'
      produces:
      - application/json
      responses:
        "200":
          description: User created successfully
          schema:
            $ref: '#/definitions/app.RegisterSuccessResponseDoc'
        default:
          description: Errors
          schema:
            $ref: '#/definitions/response.ErrorDoc'
      summary: Register a new userRegisterRequest
      tags:
      - Auth
  /api/menu/item:
    post:
      consumes:
      - application/json
      description: Create a new menu item with name, price, description and optional
        image/logo
      parameters:
      - description: Menu item data
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/menuitemapp.CreateMenuItemRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Create menu item success
          schema:
            $ref: '#/definitions/app.CreateMenuItemSuccessResponseDoc'
        default:
          description: Errors
          schema:
            $ref: '#/definitions/response.ErrorDoc'
      summary: Create a new menu item
      tags:
      - Menu
  /api/menu/topic:
    post:
      consumes:
      - application/json
      description: Create a new topic with name, price, description, and optional
        image or logo
      parameters:
      - description: Topic data
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/topicapp.CreateTopicRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Create topic success
          schema:
            $ref: '#/definitions/app.CreateTopicSuccessResponseDoc'
        default:
          description: Errors
          schema:
            $ref: '#/definitions/response.ErrorDoc'
      summary: Create a new topic
      tags:
      - Topic
  /api/restaurant:
    post:
      consumes:
      - application/json
      description: Create a new restaurant with name, email, phone, logo_url, banner_url,...
      parameters:
      - description: Restaurant create payload
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/restaurantapp.CreateRestaurantRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Create restaurant successfully
          schema:
            $ref: '#/definitions/app.CreateRestaurantSuccessResponseDoc'
        default:
          description: Errors
          schema:
            $ref: '#/definitions/response.ErrorDoc'
      summary: Create restaurant
      tags:
      - Restaurant
  /api/restaurant/{id}:
    delete:
      consumes:
      - application/json
      description: Remove a restaurant and its related data using its ID
      parameters:
      - description: Restaurant ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Restaurant deleted successfully
          schema:
            $ref: '#/definitions/app.DeleteRestaurantSuccessResponseDoc'
        default:
          description: Errors
          schema:
            $ref: '#/definitions/response.ErrorDoc'
      summary: Delete restaurant by ID
      tags:
      - Restaurant
    get:
      consumes:
      - application/json
      description: Get detailed information of a restaurant using its ID
      parameters:
      - description: Restaurant ID
        in: path
        name: id
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: Get restaurant successfully
          schema:
            $ref: '#/definitions/app.GetRestaurantByIDSuccessResponseDoc'
        default:
          description: Errors
          schema:
            $ref: '#/definitions/response.ErrorDoc'
      summary: Get restaurant by ID
      tags:
      - Restaurant
    put:
      consumes:
      - application/json
      description: Update restaurant fields such as name, address, contact info, logo,
        banner, etc.
      parameters:
      - description: Restaurant ID
        in: path
        name: id
        required: true
        type: string
      - description: Restaurant update payload
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/restaurantapp.UpdateRestaurantRequest'
      produces:
      - application/json
      responses:
        "200":
          description: Update restaurant successfully
          schema:
            $ref: '#/definitions/app.UpdateRestaurantSuccessResponseDoc'
        default:
          description: Errors
          schema:
            $ref: '#/definitions/response.ErrorDoc'
      summary: Update restaurant information
      tags:
      - Restaurant
  /api/upload/logo:
    post:
      consumes:
      - multipart/form-data
      description: Upload a logo image to storage and return the public URL
      parameters:
      - description: Logo file (png, jpg, jpeg)
        in: formData
        name: logo
        required: true
        type: file
      produces:
      - application/json
      responses:
        "200":
          description: Upload logo success
          schema:
            $ref: '#/definitions/app.UploadLogoSuccessResponseDoc'
        default:
          description: Errors
          schema:
            $ref: '#/definitions/response.ErrorDoc'
      summary: Upload logo file
      tags:
      - Upload
swagger: "2.0"
